/* Estilos sencillos y limpios para la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

.logo-content {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 200px;  /* Ajusta el tamaño de la imagen */
    margin: 20px 0;  /* Espaciado entre la imagen y el texto */
}


.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.social-media i {
    margin-right: 8px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
